@import "tailwindcss" theme(static);
@import "@nuxt/ui";


:root {
    --ui-radius: 0.50rem;
}
@theme static {
    --font-sans: 'Public Sans', sans-serif;

}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
}